html, body {
	width:100%;
	height:100%;

	margin:0;
	padding:0;

	overflow:hidden;
	position: static;
	background: rgba(255, 255, 250, 1);
}

html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}

h1,h2,h3,h4,text,p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-webkit-font-smoothing: antialiased;
}

.Main-Canvas {
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position: absolute;
}

.Footer {
	width: 100%;
	height: 40px;
	background:rgba(0, 0, 0, .05);
	position: absolute;
	z-index: 999;
	bottom:0px;
	display:flex;
	align-items:center;
	justify-content:space-around;
}


.Footer-navigationDot {
	width:4px;
	height:4px;
	background: #424242;
	opacity: .25;
	border-radius:50%;
	cursor:pointer;

	transition:all .25s ease-out;

	&:hover {
		transform:scale(1.5);
		opacity: 1;
	}


	&.is-selected {
		transform:scale(1.5);
		opacity: 1;	
	}
}

video {
	top:0px;
	left:0px;
	margin-left:-9999;
	position: absolute;;
}

.stamp {
	width:40px;
	height:40px;
	position: absolute;
	z-index: 9999;
	right:0px;
	top:0px;
	margin:30px;
	background: url(../assets/stamp.png) no-repeat;
	background-size:100% 100%;
}

.Stats {
	position: absolute;;
	margin: 30px;
	bottom:40px;
	right:0px;
	width:400px;
	z-index: 999;
}

.Stats-entry {
	font-family: 'Archer-Light', Verdana;
	font-size:30px;
	padding:0px;
	margin:0px;
	color:#424242;
	clear:both;
	float:right;
}